#
# 1. Use "#" and " ''' " will not be parsed.
#

Flags: {
    # IMAGE, VIDEO, URL, WEBCAM
    MediaType: URL

    IMAGE_CONFIG:{
        InputFile: banana1.jpg
        InputPath: /home/jdwei/Desktop/github/AI_Object_Identification_v2/images
        TextPath: /home/jdwei/Desktop/github/AI_Object_Identification_v2/images/IMAGE_Time.txt
        Resize:{
            Width: 640
            Height: 480
        }
        Hand_Area:{
            Width: 300
            Height: 300
            # Green
            Shift:{
                Horizontial: -150
                Vertical: 0
            }
        }
        Object_Area:{
            Width: 300
            Height: 400
            # Red
            Shift:{
                Horizontial: 150
                Vertical: 0
            }
        }
        Finger:{
            Target: 3
        }
    }
    VIDEO_CONFIG:{
        InputFile: testvideo.mp4
        InputPath: /home/jdwei/Desktop/github/AI_Object_Identification_v2/images
        TextPath: /home/jdwei/Desktop/github/AI_Object_Identification_v2/images/VIDEO_Time.txt
        Hand_Area:{
            Width: 80
            Height: 80
            # Green
            Shift:{
                Horizontial: -90
                Vertical: 60
            }
        }
        Object_Area:{
            Width: 80
            Height: 80
            # Red
            Shift:{
                Horizontial: 20
                Vertical: 50
            }
        }
        Finger:{
            Target: 3
            Time: 3
        }
    }
    URL_CONFIG:{
        URL: https://www.youtube.com/watch?v=yTAUlLQ1Y_g&feature=youtu.be
        OutputFile: url_output.mp4
        OutputPath: /home/jdwei/Desktop/github/AI_Object_Identification_v2/images
        TextPath: /home/jdwei/Desktop/github/AI_Object_Identification_v2/images/URL_Time.txt
        Hand_Area:{
            Width: 60
            Height: 60
            # Green
            Shift:{
                Horizontial: -60
                Vertical: 50
            }
        }
        Object_Area:{
            Width: 60
            Height: 60
            # Red
            Shift:{
                Horizontial: 20
                Vertical: 30
            }
        }
        Finger:{
            Target: 3
            Time: 2
        }
    }
    WEBCAM_CONFIG:{
        WEBCAM: 0
        OutputFile: webcam_output.mp4
        OutputPath: /home/jdwei/Desktop/github/AI_Object_Identification_v2/images
        TextPath: /home/jdwei/Desktop/github/AI_Object_Identification_v2/images/WEBCAM_Time.txt
        Hand_Area:{
            Width: 250
            Height: 250
            # Green
            Shift:{
                Horizontial: -175
                Vertical: 0
            }
        }
        Object_Area:{
            Width: 250
            Height: 250
            # Red
            Shift:{
                Horizontial: 175
                Vertical: 0
            }
        }
        Finger:{
            Target: 3
            Time: 3
        }
    }

    # Detect hand
    DetectHnad: True     
    # Detect object 
    DetectObject: True  
    # output the predicted result to image or video file
    OutputToFile: True     
    # Do you want to show the image on LCD? 
    DisplayScreen: True  

    # YOLOv3 file information
    YOLOv3:{
        pbfile: yolov3_coco.pb
        path: /home/jdwei/Desktop/github/AI_Object_Identification_v1/YOLOv3
    }
    # Object detection file information
    Object_Detection_Info:{
        score_thresh: 0.3
        NUM_CLASSES: 90
        labelfile: mscoco_label_map.pbtxt
        pbfile: frozen_inference_graph.pb
        path: /home/jdwei/Desktop/github/AI_Object_Identification_v2/inference_graph
    }
    gpu_option:{
        # used gpu card
        gpu: 0
        # gpu memory usage percent 0~1
        mem_percent: 0.5
    }
    
}
